
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body {
    background-color: #ffffff;
    font-family: Arial,sans-serif;
}



#primero{
    margin-top: 2em;
    float: right;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: right;
    padding: 0; 
    height: 10%;
}

a:link {
    text-decoration:none;
}

a:visited {
    text-decoration:none;
}

a:active {
    text-decoration:none;
}

.cajadefooter{
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
    width: 100%;
    height: 10%;
    background-color: #f2f2f2;
}

.datosfinales1 ul{
    float: left;
    flex-wrap: nowrap;
    border: #bdbcbc 2px solid;
    text-align: left;
    flex-direction: row;
}

.datosfinales2 ul{
    float: right;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: left;
    border: #bdbcbc 2px solid;
}

ul, li {
    list-style: none;
    margin: 0 ;
    padding: 0 10px;
    float: left;

}
.laimagen{
    text-align: center;
    line-height: 20px;
    margin-top: 5em;
  
}

.laimagen>img {
    max-width: 50%;

}

.estilo1{
    flex-grow: 4;
}

.barrabusqueda{
    flex: 1;
    border: solid;
    height: 200px;
    width: 500px;
    min-width: 400px;
    line-height: 50px;
    padding: 5px 8px 0 16px;
    
}

#unicotexto{
 width: 300px;
 margin: 0 auto;
}

.Ofrecido {
  align: center; 
}

.formulariodebarra{
display: flex;
flex-direction: column;
width: 100%;
}

.inserta{
    border-radius: 20px;
  display: block;
  width: 100%;
  max-width: 450px;
  margin-bottom: 2em;
    margin-left: 38%;
    margin-right: 37%;
    margin-top: 2em;
  height: 45px;
  line-height: 500px;
}

.opciones{
    margin-top: none;
  margin-bottom: 35px;
    display: block;
    text-align: -webkit-center;
}
.botonclick{
    
    margin: 0 4px;
  padding: 10px 16px;
  border: 1px solid transparent;
  font-weight: bold;
  color: #818181;
  background-color: #f2f2f2;
    line-height: 30%;
    font-size: 13px;
    border-radius: 2px;
    user-select: none;
}

.botonclick:hover {
border-color: #c6c6c6;
color: #534e4e;
box-shadow: 0 2px 1px rgba(179, 62, 62, 0.671);
}