
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body {
    background-color: #ffffff;
}

#primero{
    margin-top: 2em;
    float: right;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: right;
    padding: 0;
}

.datosfinales1{
    float: left;
    flex-wrap: nowrap;
}

.datosfinales2{
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: right;
}

ul, li {
    list-style: none;
    margin: 0 ;
    padding: 0 10px;
    float: left;

}
.laimagen{
    text-align: center;
    line-height: 300px;
    margin-top: 5em;
}

.laimagen>img {
    max-width: 50%;

}

.estilo1{
    flex-grow: 4;
}

.barrabusqueda{

    flex: 1;
    border: solid;
    height: 200px;
    width: 500px;
    min-width: 400px;
    line-height: 300px;
    padding: 5px 8px 0 16px;
    
}

#unicotexto{
 width: 300px;
 margin: 0 auto;
}

.Ofrecido {
  align: center; 
}

.formulariodebarra{
display: flex;
flex-direction: column;
width: 100%;
}

.inserta{
  display: block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10em;
    margin-left: 37em;
    margin-right: 6em;
    margin-top: 5em;
  height: 40px;
  line-height: 500px;
}

.botonclick1, .botonclick2 {
    flex-wrap: nowrap;
    flex-direction: row;
    float: center;
    color: rgba(19, 5, 5, 0.39);
    border: 0;
    display: block;
    width: 150px;
    height: 35px;
    max-width:25%;
    font-size: 15px;
    border-radius: 5px 5px 5px 5px;
}

.botonclick1 {
    
    margin-bottom: 120em;
    margin-left: 37em;
    margin-right: 6em;
    margin-top: ;
}

..botonclick2{
    
}